<div id = "top" class="accent-1 no-padding">
    <div id="top-nav-wrapper" class="container ">
        <nav id="social-nav" class="accent-1">
            <ul>
                <li> <a href="https://www.facebook.com/OfficialNBCC" target="_blank"><span style="color:#3C5A99;" class=""><i class="fab fa-facebook-f"></i></span></a></li>
                <li> <a href="https://twitter.com/OfficialNBCC" target="_blank"><span style="color:#38A1F3;" class=""><i class="fab fa-twitter"></i></span></a></li>
                <li> <a href="https://www.youtube.com/channel/UCbBUDkI_YkCxWtCClSVmChg" target="_blank"><span style="color:#FF0000;" class=""><i class="fab fa-youtube"></i></span></a></li>
                <li> <a href="https://en.wikipedia.org/wiki/NBCC_(India)_Limited" target="_blank"><span style="color:#000;" class=""><i class="fab fa-wikipedia-w"></i></i></span></a></li>
                
            </ul>
        </nav>
        <nav id="sub-nav" class="accent-1">
            <ul>
                <li><a href="https://web.nbccho.com/erp/" target="_blank">ERP</a></li>
                <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/NSL.jsp" target="_blank">Subsidiaries</a></li>
                <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/Consultancy.jsp " target="_blank">Consultancy</a></li>
                <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/ContactUs.jsp"target="_blank" >Contact Us</a></li>
                <li><a href="">Hindi</a></li>
                </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div id="logo">
        <img style="width:100%;" src="{{url_for('static',filename='images/logo.jpg')}}" alt="NBCC Logo">
    </div>
    <nav id="main-nav">
        <ul>
            <li><a href="/home"><span style="font-size: 30px; color: #414141;"><i class="fas fa-home"></i></span><p>Home</p></a></li> 
            <li><a href="/aboutus"><span style="font-size: 30px; color: #414141;"><i class="fas fa-book-open"></i></span><p>About Us</p></li></a> 
            <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/Awards.jsp"><span style="font-size: 30px; color: #414141;"><i class="fas fa-trophy"></i></span><p>Awards & Media</p></li></a> 
            <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/WhatsNewPress.jsp"><span style="font-size: 30px; color: #414141;"><i class="far fa-newspaper"></i></span><p>Press Releases</p></li></a> 
            <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/Financials.jsp"><span style="font-size: 30px; color: #414141;"><i class="fas fa-rupee-sign"></i></span><p>Financials</p></li></a> 
            <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/investors.jsp"><span style="font-size: 30px; color: #414141;"><i class="fas fa-hand-holding-usd"></i></span><p>Investors</p></li></a> 
            <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/Transparency.jsp"><span style="font-size: 30px; color: #414141;"><i class="fas fa-search"></i></span><p>Transparency</p></li></a> 
            <li><a href="http://www.nbccindia.com/nbccindia/nroot/njsp/JobsnCareers.jsp"><span style="font-size: 30px; color: #414141;"><i class="fas fa-users"></i></span><p>HRM</p></li></a> 
        </ul>
    </nav>
</div>