<table>
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Job Discription</th>
            <th scope="col">Published On</th>
            <th scope="col">Last Date</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td scope="row">1</th>
                <td><a href="/files/{{filename}}" target= '_blank'>{{caption}}</a></td>
                <td>{{publishdate}}</td>
                <td>{{lastdate}}</td>           
            </tr>
        </tbody>
</table>
